.form-container{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.triangle{
    position: relative;
    &:before {
        content:"\A";
        border-style: solid;
        border-width: 1em 1.25em 1em 0;
        border-color: transparent var(--base-form-color) transparent transparent;
        position: absolute;
        left: -1.25em;
    }
}

.form{
    border: 0.5px solid rgb(243, 232, 232);
    border-radius: 1.2em;
    box-shadow: 0 0 2px 0.1px rgb(207, 204, 204), 0 5px 5px 0.2px rgb(226, 221, 221);
    box-sizing: border-box;
    min-height: 32em;
    margin-bottom: 3em;
    padding: 3% 4.5%;
    width: 30em;
    h2{
        color: var(--base-form-color);
        font-size: 1.8em;
        letter-spacing: .1em;
        margin: 0.5em 0 1.4em 0;
        text-align: center;
    }
    .form-field{
        margin-top: 2em;
        label{
            display: block;
            color:rgb(66, 66, 66);
            font-size: 0.85em;
            font-weight: 200;
            margin-bottom: 0.4em;
            text-indent: 0.5em;
        }
        // input{
        //     border: 2px solid rgba(143, 141, 141, 0.501);
        //     border-radius: 10px;
        //     box-shadow: 0 0 2px 0.1px rgba(143, 141, 141, 0.301);
        //     font-size: 1em;
        //     height: 2.7em;
        //     letter-spacing: 0.1em;
        //     text-indent: 1em;
        //     transition: 0.5s linear;
        //     width: 100%;
        //     &:focus{
        //         outline: none;
        //         border: 2px solid var(--base-form-color);
        //         transition: 0.5s ease-in;
        //     }
        // }
    }

    .form-buttons{
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        padding-top: 3.5em;
        button{
            background: var(--base-form-color);
            border:none;
            box-shadow: 0 2px 5px 0.5px rgba(143, 141, 141, 0.701);
            color: white;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            height: 3.3em;
            transition: 0.5s linear;
            width: 8em;
            &:hover{
                background: white;
                border:1px solid var(--base-form-color);
                box-shadow: none;
                color: var(--base-form-color);
                transition: 0.5s ease-in;
            }
        }
        .image-container{
            height: 3.3em;
            position: relative;
            width: 8em;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .sign-out-link{
        font-size: 0.85em;
        padding-top: 2em;
        p{
            color: gray;
        }
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.blue-text{
    color:var(--base-form-color);
}
